.game {
    background-color: rgb(5, 5, 184);
    width: 840px;
    height: 720px;
    margin: auto;
    margin-top: 100px;
}



.cell {
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    margin: 10px;
    padding: 0px;
    height: 100px;
    width: 100px;
    float: left;
    color: black;
}

.red-coin {
    background-color: red;
}

.yel-coin {
    background-color: yellow;
}

.restart {
    text-align: center;
}

